.coursTarifsContainer {
  width: 99.1vw;
  height: auto;
  display: flex;
  font-size: 20px;
  font-weight: bold;
  justify-content: space-between;
  font-family: "Baloo 2", sans-serif;
  background-image: url("../../assets/pictures/goute_tarif.png");
  -webkit-box-shadow: 0px 11px 5px 0px rgba(143, 140, 143, 1);
  -moz-box-shadow: 0px 11px 5px 0px rgba(143, 140, 143, 1);
  box-shadow: 0px 11px 5px 0px rgba(143, 140, 143, 1);
  background-size: cover;
  background-position: center;
  margin-bottom: 2%;
}
.horairesContainer {
  height: auto;
  width: 49vw;
  margin: 2%;
  background-color: whitesmoke;
  opacity: 0.6;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  color: black;
  border-radius: 20px;
  border: 3px solid grey;
}
.tarifsContainer {
  height: auto;
  width: 60vw;
  background-color: whitesmoke;
  opacity: 0.6;
  margin: 2%;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  color: black;
  font-weight: bold;
  border-radius: 20px;
  border: 3px solid grey;
}
.horaires {
  margin-top: 15%;
}

@media screen and (max-width: 768px) {
  .tarifsContainer {
    font-size: 18px;
    height: 80%;
  }
  .horairesContainer {
    font-size: 18px;
    height: 80%;
  }
}
@media screen and (max-width: 375px) {
  .tarifsContainer {
    font-size: 12px;
    width: 90vw;
    margin-left: 3%;
    height: auto;
    margin-bottom: 20%;
  }
  .horairesContainer {
    font-size: 12px;
    width: 90vw;
    margin-left: 3%;
  }
  .coursTarifsContainer {
    flex-direction: column;
  }
}
