@import url("https://fonts.googleapis.com/css?family=Amatic+SC");
@import url("https://fonts.googleapis.com/css?family=Baloo+2|Roboto&display=swap");

.App {
  background: linear-gradient(white, #b3aca3, #d0bdaf, white);
  text-align: center;
}

.App h1 {
  font-family: "Amatic SC", sans-serif;
  opacity: 60%;
}
#citationGlobal {
  color: #467f8c;
  font-style: italic;
}
