@import url("https://fonts.googleapis.com/css?family=Amatic+SC");


.App {
  background: linear-gradient(white, #b3aca3, #d0bdaf, white);
  text-align: center;
}

.App h1 {
  font-family:"Amatic SC", sans-serif;
  font-size: 60px;
  opacity: 60%;
}
#citationGlobal{
  color: #467f8c;
  font-style: italic;
}
